workspace/reports/n8n-backups/n8n-workflows-backup-20260628T1229.json
[{"updatedAt":"2026-06-16T08:28:52.512Z","createdAt":"2026-06-16T06:03:55.881Z","id":"AidaDailyNews01","name":"Aida Daily Top News","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Aida Daily Top News\nDagelijks 07:30 Europe/Amsterdam. Fetches HK + wereldnieuws via RSS/Google News, dedupliceert, formatteert compact in het Nederlands en stuurt naar de operator via Telegram. Geen LLM nodig.","height":220,"width":420,"color":4},"id":"b836b45b-a9a3-4b89-99bd-6b639c31fce7","name":"Notitie","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-224]},{"parameters":{},"id":"36f44c9a-428f-4e11-986e-18a235dc2593","name":"Handmatig testen","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-624,112]},{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":30}]}},"id":"b5f522a1-0136-4b0a-bf74-b765c0c646e0","name":"Dagelijks 07:30","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-624,-48]},{"parameters":{"jsCode":"\nconst chatId = \"6585936467\";\nconst now = new Date();\nconst dateNl = new Intl.DateTimeFormat(\"nl-NL\", {\n  weekday: \"long\", day: \"numeric\", month: \"long\", year: \"numeric\",\n  hour: \"2-digit\", minute: \"2-digit\", timeZone: \"Europe/Amsterdam\"\n}).format(now);\n\nconst feeds = [\n  { section: \"world\", url: \"https://news.google.com/rss/topstories?hl=en&gl=US&ceid=US:en\" },\n  { section: \"world\", url: \"https://news.google.com/rss/headlines/section/topic/WORLD?hl=en&gl=US&ceid=US:en\" },\n  { section: \"world\", url: \"https://feeds.bbci.co.uk/news/world/rss.xml\" },\n  { section: \"hk\", url: \"https://news.google.com/rss/search?q=Hong%20Kong%20OR%20HK%20when%3A24h&hl=en-HK&gl=HK&ceid=HK:en\" },\n  { section: \"hk\", url: \"https://news.google.com/rss/search?q=Hong%20Kong%20economy%20politics%20markets%20when%3A24h&hl=en-HK&gl=HK&ceid=HK:en\" }\n];\n\nfunction escapeHtml(value = \"\") {\n  return String(value)\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\");\n}\n\nfunction decodeXml(value = \"\") {\n  return value\n    .replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, \"$1\")\n    .replace(/&amp;/g, \"&\")\n    .replace(/&lt;/g, \"<\")\n    .replace(/&gt;/g, \">\")\n    .replace(/&quot;/g, \"\\\"\")\n    .replace(/&#39;|&apos;/g, \"'\")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction tag(block, name) {\n  const re = new RegExp(\"<\" + name + \"[^>]*>([\\\\s\\\\S]*?)<\\\\/\" + name + \">\", \"i\");\n  const m = block.match(re);\n  return decodeXml((m && m[1]) || \"\");\n}\n\nfunction sourceFromTitle(title) {\n  const parts = title.split(\" - \");\n  return parts.length > 1 ? parts.pop().trim() : \"bron\";\n}\n\nfunction cleanTitle(title) {\n  return title.replace(/\\s+-\\s+[^-]{2,80}$/, \"\").trim();\n}\n\nfunction category(text) {\n  const t = text.toLowerCase();\n  if (/hong kong|beijing|china|greater bay|national security|legco|chief executive/.test(t)) return \"China/HK\";\n  if (/stock|market|shares|rates|inflation|oil|trade|tariff|bank|yen|dollar|economy|gdp|property/.test(t)) return \"Markten\";\n  if (/war|strike|missile|iran|israel|ukraine|russia|taiwan|military|ceasefire|sanction/.test(t)) return \"Geopolitiek\";\n  if (/ai|chip|semiconductor|tech|cyber|data|social media|platform/.test(t)) return \"Tech\";\n  if (/flu|health|hospital|vaccine|covid|storm|typhoon|climate/.test(t)) return \"Risico\";\n  return \"Topnieuws\";\n}\n\nfunction shortText(value, max = 92) {\n  const cleaned = String(value || \"\")\n    .replace(/\\s+-\\s+[^-]{2,80}$/, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n  if (cleaned.length <= max) return cleaned;\n  return cleaned.slice(0, max - 3).replace(/\\s+\\S*$/, \"\") + \"...\";\n}\n\nfunction oneLiner(item) {\n  return category(item.title + \" \" + item.description) + \": \" + shortText(item.title || item.description, 88);\n}\n\nfunction score(item) {\n  const t = (item.title + \" \" + item.description).toLowerCase();\n  let s = item.section === \"hk\" ? 15 : 0;\n  const terms = [\"breaking\", \"hong kong\", \"china\", \"beijing\", \"trump\", \"iran\", \"israel\", \"ukraine\", \"russia\", \"taiwan\", \"oil\", \"market\", \"rate\", \"central bank\", \"stocks\", \"tariff\", \"election\", \"ai\", \"chip\", \"court\", \"security\", \"typhoon\"];\n  for (const term of terms) if (t.includes(term)) s += 4;\n  const age = item.pubDate ? Math.max(0, (Date.now() - item.pubDate.getTime()) / 36e5) : 24;\n  s += Math.max(0, 18 - age);\n  return s;\n}\n\nasync function readFeed(feed) {\n  const xml = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: feed.url,\n    headers: {\n      \"User-Agent\": \"Mozilla/5.0 Aida n8n news brief/1.0\",\n      \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n    },\n    timeout: 20000,\n    json: false,\n  });\n  return [...String(xml).matchAll(/<item[\\s\\S]*?<\\/item>/gi)].map((m) => {\n    const block = m[0];\n    const rawTitle = tag(block, \"title\");\n    const pub = tag(block, \"pubDate\");\n    const item = {\n      section: feed.section,\n      title: cleanTitle(rawTitle),\n      source: tag(block, \"source\") || sourceFromTitle(rawTitle),\n      link: tag(block, \"link\"),\n      description: tag(block, \"description\"),\n      pubDate: pub ? new Date(pub) : null,\n    };\n    item.score = score(item);\n    return item;\n  }).filter((x) => x.title && x.link);\n}\n\nconst settled = await Promise.allSettled(feeds.map((feed) => readFeed.call(this, feed)));\nconst all = settled.flatMap((r) => r.status === \"fulfilled\" ? r.value : []);\nconst errors = settled\n  .map((r, i) => r.status === \"rejected\" ? feeds[i].url + \": \" + (r.reason && r.reason.message ? r.reason.message : String(r.reason)) : null)\n  .filter(Boolean);\n\nconst seen = new Set();\nconst unique = [];\nfor (const item of all.sort((a, b) => b.score - a.score)) {\n  const key = item.title.toLowerCase().replace(/[^a-z0-9]+/g, \" \").slice(0, 90);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(item);\n}\n\nconst world = unique.filter((x) => x.section === \"world\").slice(0, 5);\nconst hk = unique.filter((x) => x.section === \"hk\").slice(0, 5);\n\nfunction itemLine(item, index) {\n  const line = escapeHtml(oneLiner(item));\n  const url = escapeHtml(item.link);\n  return String(index + 1) + \". \" + line + \" · <a href=\\\"\" + url + \"\\\">bron</a>\";\n}\n\nlet message = \"<b>Goedemorgen</b>\\n\" + escapeHtml(dateNl) + \" in Amsterdam\\n\\n\";\nmessage += \"<b>Wereldnieuws</b>\\n\" + (world.length ? world.map(itemLine).join(\"\\n\") : \"Geen bruikbare wereldnieuwsitems gevonden.\") + \"\\n\\n\";\nmessage += \"<b>HK nieuws</b>\\n\" + (hk.length ? hk.map(itemLine).join(\"\\n\") : \"Geen bruikbare HK-nieuwsitems gevonden.\") + \"\\n\\n\";\nif (errors.length && world.length + hk.length < 5) message += \"Bronwaarschuwing: \" + escapeHtml(errors.slice(0, 2).join(\" | \")) + \"\\n\";\nmessage += \"<i>Aandachtspunt: markten, China/HK, energie en geopolitiek risico.</i>\";\n\nreturn [{ json: { chatId, message, worldCount: world.length, hkCount: hk.length, messageLength: message.length, feedErrors: errors } }];\n","mode":"runOnceForAllItems","language":"javaScript"},"id":"dc2ee27f-89c8-40e2-9dc1-351f390e8803","name":"Nieuws ophalen en formatteren","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,32]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"ccde9c91-477f-4c67-b542-8812df8eb501","name":"Stuur naar Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,32],"webhookId":"96897879-1544-4b1d-97b8-e0fb202bb9c6","credentials":{"telegramApi":{"id":"AidaTelegram01","name":"Aida Telegram Bot"}}}],"connections":{"Handmatig testen":{"main":[[{"node":"Nieuws ophalen en formatteren","type":"main","index":0}]]},"Dagelijks 07:30":{"main":[[{"node":"Nieuws ophalen en formatteren","type":"main","index":0}]]},"Nieuws ophalen en formatteren":{"main":[[{"node":"Stuur naar Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Amsterdam","binaryMode":"separate"},"staticData":{"node:Dagelijks 07:30":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4bb75609-c9cc-41d2-b0d4-3050cb6b2305","activeVersionId":"4bb75609-c9cc-41d2-b0d4-3050cb6b2305","versionCounter":47,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-16T06:03:55.881Z","createdAt":"2026-06-16T06:03:55.881Z","role":"workflow:owner","workflowId":"AidaDailyNews01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-16T10:58:36.665Z","createdAt":"2026-06-16T10:58:34.376Z","id":"AidaWeeklyBuienradar01","name":"Aida Weekly Buienradar Forecast","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Aida Weekly Buienradar Forecast\nElke zondag om 19:00 Europe/Amsterdam. Haalt de officiële Buienradar JSON-feed op en stuurt een compacte weekverwachting naar Telegram. Buienradar levert 5-daagse detailverwachting plus korte/lange termijntekst.","height":240,"width":460,"color":6},"id":"d5dd3eca-704e-4669-a381-9506f8ab761f","name":"Notitie","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,-240]},{"parameters":{},"id":"c3a1b031-3f55-4f6a-888e-f70a17d20e3f","name":"Handmatig testen","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,80]},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[0],"triggerAtHour":19,"triggerAtMinute":0}]}},"id":"b1b4e721-12d8-4c79-9f27-f1533e3e98a0","name":"Zondag 19:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-620,-60]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst chatId = \"6585936467\";\nconst now = new Date();\nconst dateNl = new Intl.DateTimeFormat(\"nl-NL\", {\n  weekday: \"long\", day: \"numeric\", month: \"long\", year: \"numeric\",\n  hour: \"2-digit\", minute: \"2-digit\", timeZone: \"Europe/Amsterdam\"\n}).format(now);\n\nfunction escapeHtml(value = \"\") {\n  return String(value)\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\");\n}\n\nfunction clean(value = \"\") {\n  return String(value)\n    .replace(/&nbsp;/g, \" \")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction short(value, max = 180) {\n  const text = clean(value);\n  if (text.length <= max) return text;\n  return text.slice(0, max - 3).replace(/\\s+\\S*$/, \"\") + \"...\";\n}\n\nfunction dayLabel(iso) {\n  return new Intl.DateTimeFormat(\"nl-NL\", {\n    weekday: \"short\", day: \"numeric\", month: \"short\", timeZone: \"Europe/Amsterdam\"\n  }).format(new Date(iso));\n}\n\nconst data = await this.helpers.httpRequest({\n  method: \"GET\",\n  url: \"https://data.buienradar.nl/2.0/feed/json\",\n  headers: {\n    \"User-Agent\": \"Mozilla/5.0 Aida n8n buienradar brief/1.0\",\n    \"Accept\": \"application/json\"\n  },\n  timeout: 20000,\n  json: true,\n});\n\nconst forecast = data.forecast || {};\nconst report = forecast.weatherreport || {};\nconst shortterm = forecast.shortterm || {};\nconst longterm = forecast.longterm || {};\nconst days = Array.isArray(forecast.fivedayforecast) ? forecast.fivedayforecast.slice(0, 5) : [];\n\nlet message = \"<b>Buienradar weekverwachting</b>\\n\" + escapeHtml(dateNl) + \" in Amsterdam\\n\\n\";\nif (report.title) message += \"<b>\" + escapeHtml(clean(report.title)) + \"</b>\\n\";\nif (report.summary) message += escapeHtml(short(report.summary, 240)) + \"\\n\\n\";\n\nif (shortterm.forecast) {\n  message += \"<b>Korte termijn</b>\\n\" + escapeHtml(short(shortterm.forecast, 240)) + \"\\n\\n\";\n}\nif (longterm.forecast) {\n  message += \"<b>Later in de week</b>\\n\" + escapeHtml(short(longterm.forecast, 240)) + \"\\n\\n\";\n}\n\nif (days.length) {\n  message += \"<b>Dagoverzicht</b>\\n\";\n  message += days.map((d) => {\n    const temp = d.mintemperature + \"-\" + d.maxtemperature + \"°C\";\n    const rain = \"regen \" + (d.rainChance ?? \"?\") + \"%\";\n    const mm = d.mmRainMin != null && d.mmRainMax != null ? \", \" + d.mmRainMin + \"-\" + d.mmRainMax + \" mm\" : \"\";\n    const sun = d.sunChance != null ? \", zon \" + d.sunChance + \"%\" : \"\";\n    const wind = d.windDirection ? \", wind \" + String(d.windDirection).toUpperCase() + \" \" + d.wind : \"\";\n    return \"• \" + escapeHtml(dayLabel(d.day)) + \": \" + escapeHtml(temp + \", \" + rain + mm + sun + wind + \" - \" + clean(d.weatherdescription));\n  }).join(\"\\n\") + \"\\n\\n\";\n}\n\nmessage += \"Bron: <a href=\\\"https://www.buienradar.nl\\\">Buienradar.nl</a>\";\nreturn [{ json: { chatId, message, days: days.length } }];\n"},"id":"7f3f17e9-8d64-4705-8b6f-222fed9d3ec4","name":"Buienradar ophalen en formatteren","type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,10]},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","replyMarkup":"none","additionalFields":{"disable_web_page_preview":true,"appendAttribution":false,"parse_mode":"HTML"}},"id":"8dad675b-e3f1-4a0d-9df5-f4f7842474ea","name":"Stuur naar Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,10],"credentials":{"telegramApi":{"id":"AidaTelegram01","name":"Aida Telegram Bot"}}}],"connections":{"Handmatig testen":{"main":[[{"node":"Buienradar ophalen en formatteren","type":"main","index":0}]]},"Zondag 19:00":{"main":[[{"node":"Buienradar ophalen en formatteren","type":"main","index":0}]]},"Buienradar ophalen en formatteren":{"main":[[{"node":"Stuur naar Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Amsterdam"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff72a528-5fca-4022-8ddd-a213b018fc28","activeVersionId":"ff72a528-5fca-4022-8ddd-a213b018fc28","versionCounter":32,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-16T10:58:34.376Z","createdAt":"2026-06-16T10:58:34.376Z","role":"workflow:owner","workflowId":"AidaWeeklyBuienradar01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-16T19:41:09.805Z","createdAt":"2026-06-16T19:40:07.421Z","id":"AidaCreateLunchTemp01","name":"Aida Create Lunch Temp","description":null,"active":false,"isArchived":false,"nodes":[{"id":"11111111-9999-4111-8111-111111111111","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,0],"parameters":{}},{"id":"22222222-9999-4222-8222-222222222222","name":"Create lunch","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0],"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"mode":"list","value":"ryan.chin.wk@gmail.com","cachedResultName":"Ryan Private"},"start":"2026-06-17T12:00:00+02:00","end":"2026-06-17T13:00:00+02:00","useDefaultReminders":true,"additionalFields":{"summary":"Lunch met vrienden"}},"credentials":{"googleCalendarOAuth2Api":{"id":"R7FgG9Uv2RG4j3zU","name":"Google Calendar account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Create lunch","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Amsterdam","executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"2bd69ac6-4b80-4338-8221-9107c9cd7ba7","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-16T19:40:07.421Z","createdAt":"2026-06-16T19:40:07.421Z","role":"workflow:owner","workflowId":"AidaCreateLunchTemp01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-16T15:27:04.519Z","createdAt":"2026-06-16T11:18:26.333Z","id":"AidaCalendarManager01","name":"Aida Calendar Manager","description":null,"active":true,"isArchived":false,"nodes":[{"id":"11111111-1111-4111-8111-111111111111","name":"Calendar webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-620,0],"webhookId":"aida-calendar-manager-webhook","parameters":{"httpMethod":"POST","path":"aida-calendar-manager","authentication":"none","responseMode":"responseNode","options":{"ipWhitelist":"127.0.0.1,::1,172.16.0.0/12"}}},{"id":"22222222-2222-4222-8222-222222222222","name":"Ryan Private events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-300,0],"parameters":{"resource":"event","operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"ryan.chin.wk@gmail.com","cachedResultName":"Ryan Private"},"returnAll":true,"timeMin":"={{ $json.body.start }}","timeMax":"={{ $json.body.end }}","options":{"recurringEventHandling":"expand","orderBy":"startTime","timeZone":{"__rl":true,"mode":"id","value":"Europe/Amsterdam"}}},"credentials":{"googleCalendarOAuth2Api":{"id":"R7FgG9Uv2RG4j3zU","name":"Google Calendar account"}}},{"id":"33333333-3333-4333-8333-333333333333","name":"Format response","type":"n8n-nodes-base.code","typeVersion":2,"position":[20,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all().map((item) => item.json);\n\nfunction text(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction fmt(value, allDay) {\n  if (!value) return '';\n  if (allDay || /^\\d{4}-\\d{2}-\\d{2}$/.test(value)) {\n    return new Intl.DateTimeFormat('nl-NL', {\n      timeZone: 'Europe/Amsterdam',\n      weekday: 'short',\n      day: '2-digit',\n      month: '2-digit',\n    }).format(new Date(value + 'T00:00:00+02:00'));\n  }\n  return new Intl.DateTimeFormat('nl-NL', {\n    timeZone: 'Europe/Amsterdam',\n    weekday: 'short',\n    day: '2-digit',\n    month: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n  }).format(new Date(value));\n}\n\nconst events = items\n  .filter((event) => event && event.status !== 'cancelled')\n  .map((event) => {\n    const start = event.start?.dateTime || event.start?.date || event.start || '';\n    const end = event.end?.dateTime || event.end?.date || event.end || '';\n    return {\n      id: event.id,\n      title: text(event.summary || '(geen titel)'),\n      start,\n      end,\n      allDay: !!event.start?.date,\n      location: text(event.location || ''),\n    };\n  })\n  .sort((a, b) => String(a.start).localeCompare(String(b.start)));\n\nlet answer;\nif (!events.length) {\n  answer = 'Ik vind geen afspraken in die periode.';\n} else {\n  answer = events.slice(0, 20).map((event) => {\n    const line = '- ' + fmt(event.start, event.allDay) + ': ' + event.title;\n    return event.location ? line + ' (' + event.location + ')' : line;\n  }).join('\\n');\n}\n\nreturn [{\n  json: {\n    ok: true,\n    calendar: 'Ryan Private',\n    eventCount: events.length,\n    events,\n    answer,\n  },\n}];\n"}},{"id":"44444444-4444-4444-8444-444444444444","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[320,0],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Calendar webhook":{"main":[[{"node":"Ryan Private events","type":"main","index":0}]]},"Ryan Private events":{"main":[[{"node":"Format response","type":"main","index":0}]]},"Format response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Amsterdam","executionOrder":"v1"},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"280a2f78-9865-423a-bf96-6a9a6aeed14a","activeVersionId":"280a2f78-9865-423a-bf96-6a9a6aeed14a","versionCounter":44,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-16T11:18:26.333Z","createdAt":"2026-06-16T11:18:26.333Z","role":"workflow:owner","workflowId":"AidaCalendarManager01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-16T20:16:45.922Z","createdAt":"2026-06-16T20:16:45.922Z","id":"AidaDeleteLunchTemp01","name":"Aida Delete Lunch Temp","description":null,"active":false,"isArchived":false,"nodes":[{"id":"11111111-8888-4111-8111-111111111111","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,0],"parameters":{}},{"id":"22222222-8888-4222-8222-222222222222","name":"Delete lunch","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0],"parameters":{"resource":"event","operation":"delete","calendar":{"__rl":true,"mode":"list","value":"ryan.chin.wk@gmail.com","cachedResultName":"Ryan Private"},"eventId":"8157sb481k65d3voh3v7pntg0o","options":{}},"credentials":{"googleCalendarOAuth2Api":{"id":"R7FgG9Uv2RG4j3zU","name":"Google Calendar account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Delete lunch","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Amsterdam","executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"99c62e24-50eb-406c-ade3-ef97fc67661a","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-16T20:16:45.922Z","createdAt":"2026-06-16T20:16:45.922Z","role":"workflow:owner","workflowId":"AidaDeleteLunchTemp01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-16T20:17:40.101Z","createdAt":"2026-06-16T20:17:40.101Z","id":"AidaGetDeletedLunchTemp01","name":"Aida Get Deleted Lunch Temp","description":null,"active":false,"isArchived":false,"nodes":[{"id":"11111111-7777-4111-8111-111111111111","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,0],"parameters":{}},{"id":"22222222-7777-4222-8222-222222222222","name":"Get lunch","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0],"parameters":{"resource":"event","operation":"get","calendar":{"__rl":true,"mode":"list","value":"ryan.chin.wk@gmail.com","cachedResultName":"Ryan Private"},"eventId":"8157sb481k65d3voh3v7pntg0o","options":{}},"credentials":{"googleCalendarOAuth2Api":{"id":"R7FgG9Uv2RG4j3zU","name":"Google Calendar account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get lunch","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Amsterdam","executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"28b47faa-fe1b-4fa7-9453-44b1c1c85aa8","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-16T20:17:40.101Z","createdAt":"2026-06-16T20:17:40.101Z","role":"workflow:owner","workflowId":"AidaGetDeletedLunchTemp01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-16T19:32:23.691Z","createdAt":"2026-06-16T15:32:38.335Z","id":"AidaContactLookup01","name":"Aida Contact Lookup","description":null,"active":true,"isArchived":false,"nodes":[{"id":"11111111-aaaa-4111-8111-111111111111","name":"Contact webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-620,0],"webhookId":"aida-contact-lookup-webhook","parameters":{"httpMethod":"POST","path":"aida-contact-lookup","authentication":"none","responseMode":"responseNode","options":{"ipWhitelist":"127.0.0.1,::1,172.16.0.0/12"}}},{"id":"22222222-aaaa-4222-8222-222222222222","name":"Google Contacts search","type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[-300,0],"parameters":{"resource":"contact","operation":"getAll","returnAll":false,"limit":10,"fields":["names","emailAddresses","phoneNumbers"],"useQuery":true,"query":"={{ $json.body.query }}","rawData":false},"credentials":{"googleContactsOAuth2Api":{"id":"yQXPWhyT7IW9MqgD","name":"Google Contacts account 2"}}},{"id":"33333333-aaaa-4333-8333-333333333333","name":"Format contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[20,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst contacts = $input.all().map((item) => item.json).map((person) => {\n  const name = person.names?.[0]?.displayName || person.names?.[0]?.unstructuredName || '';\n  const email = person.emailAddresses?.[0]?.value || '';\n  return { name, email };\n}).filter((contact) => contact.name || contact.email);\nreturn [{ json: { ok: true, contacts, count: contacts.length, first: contacts[0] || null } }];\n"}},{"id":"44444444-aaaa-4444-8444-444444444444","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[320,0],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Contact webhook":{"main":[[{"node":"Google Contacts search","type":"main","index":0}]]},"Google Contacts search":{"main":[[{"node":"Format contacts","type":"main","index":0}]]},"Format contacts":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Amsterdam","executionOrder":"v1"},"staticData":{},"meta":null,"pinData":{},"versionId":"f87dab3c-babb-47f5-b618-02827036e432","activeVersionId":"f87dab3c-babb-47f5-b618-02827036e432","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-16T15:32:38.335Z","createdAt":"2026-06-16T15:32:38.335Z","role":"workflow:owner","workflowId":"AidaContactLookup01","projectId":"SYWGnyMPoLc2mjAG","project":{"updatedAt":"2026-05-13T21:05:46.820Z","createdAt":"2026-05-13T21:01:40.305Z","id":"SYWGnyMPoLc2mjAG","name":"Ryan Ryan.chin.wk@gmail.com <ryan.chin.wk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"39c96ee6-9bf2-4743-9900-64880fe8a17d"}}],"versionMetadata":{"name":null,"description":null}}]